.colourful {
    .form-body {
        background-color: transparent;
        color: $lightgray;

        &-widget {
            &-content-element:not(.form-body-widget-content-active) {
                background-color: $darkblue2;
                border: 0;
                color: $lightgray;
            }
    
            &-content-active {
                border: 0;
                background-color: $green;
                color: $darkblue2;
            }

            &-label {
                color: $lightgray;
            }

            &-textarea {
                background-color: $darkblue2;
                border: 0;
                color: $white;
            }

            .secondary-list-element {
                border-bottom: 0;
            }

            .secondary-list-element:nth-child(odd) {
                background-color: $darkblue;
            }

            .secondary-list-element:nth-child(even) {
                background-color: $darkblue2;
            }
        }

        .minus,
        .plus {
            background-color: $darkblue2;
            color: $lightgray;
        }
    }

    h1 {
        color: $white;
    }
}