@import 'colours';

* {
    margin: 0;
    padding: 0;
}

.form-header {
    background-color: $blue;
    box-shadow: 0 0 3px 1px lighten($black, 20%);
    color: $white;
    height: 60px;
    
    &-menu {
        align-items: center;
        display: flex;
        height: inherit;
        justify-content: center;
    }
}
